@import "tailwindcss";

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
}

.bg-primary {
    background: #ff5252;
}

.container {
    width: 90%;
    margin: auto;
}
.link:hover {
    color: #ff5252;
}

.sliderHome{
    overflow: inherit !important;
}

.swiper-button-prev,.swiper-button-next{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    min-width: 45px;
}

.swiper-button-prev::after,
.swiper-button-next::after,
.swiper-button-prev svg,
.swiper-button-next svg {
  font-size: 12px !important;
  width: 12px !important;
  height: 12px !important;
  color: #000 !important;
  stroke: #000 !important;
}

.homeCatSlider{
    overflow: inherit !important;
}

.homeCatSlider .item{
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatSlider .item:hover img{
    transform: scale(1.1);
}

.homeCatSlider .swiper-button-prev{
    width: 30px;
    height: 30px;
    min-width: 30px;
    left: -10px !important;
}

.homeCatSlider .swiper-button-prev::after, .swiper-button-prev svg{
    font-size: 12px !important;
}

.homeCatSlider .swiper-button-next{
    width: 30px;
    height: 30px;
    min-width: 30px;
    right: -10px !important;
}

.homeCatSlider .swiper-button-next::after, .swiper-button-next svg{
    font-size: 12px !important;
}

.homeCatSlider .swiper-button-prev:hover,.homeCatSlider .swiper-button-next:hover{
    background: #ff5252 !important;
}

.homeCatSlider .swiper-button-prev:hover::after, .homeCatSlider .swiper-button-next:hover::after{
    background: #ff5252 !important;
}
