@import "tailwindcss";

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgba(0,0,0,0.8);
}

.bg-primary {
    background: #ff5252;
}

.container {
    width: 90%;
    margin: auto;
}
.link:hover {
    color: #ff5252;
}